.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.inner-container {
  width: 200px;
  height: 40px;

}

.select-container {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
}

#find-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border-style: 1px;
  border-width: 1px;
  border-color: rgb(54, 93, 250);
  background-color: rgb(54, 93, 250);

}

#button-text {
  color: white;
  font-size: 16px;
}

