.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: #C5C5C5;
    border-radius: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

.img {
    max-width: 300px;
}

.button-container {
    width: 90px;
    height: 60px;
    border-width: 1px;
    border-style: solid;
    border-color: #C5C5C5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}

.button-container:hover {
    background-color: #DDDDDD;
}